@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body {
    min-height: 100%;
}

h1{
    color:darkgreen;
    font-size:40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    } 

#imagem{
left:0% ;
top:0%;
bottom:50%;
transform:translate(-180%, 15%);
}

body {
    background-color: aliceblue;
    padding: 0;
    margin: 0;
    text-align:center;
}  

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container{
width:100%;
height:100%;
}

.box{
width:800px;
position:absolute;
left:50%;
top:85%;
bottom:90%;
transform:translate(-50%, -50%);
}

p{
text-align:justify;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#menu-h{
    background-color:darkgreen;
}

#menu-h ul {
    max-width: 900px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color:orange;
}

footer {
    position: absolute;
    bottom: -6900px;
    background-color:darkgreen;
    color: #FFF;
    width: 1350px;
    height: 100px;    
    text-align: center;
    line-height: 100px;
} 

.login{
margin-left: 300px;
display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

footer{
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
